
div { 
    display: block;
}

table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.nostretch {
    width: 1%;
    white-space: nowrap;
}

.center {
    margin: auto;
    width: 16.5%;
    padding: 10px;
}

.centralbutton{
    text-align: center;
    padding-top: 20px;
}